.coop {
    position: relative;
    &__title-img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: rem(196);
        z-index: 1;
        background: url("@img/first-screen/01.png") 100% 100% no-repeat;
        background-position: left;
        background-size: cover;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: rem(196);
            z-index: 2;
            background: linear-gradient(0deg, rgba(47, 47, 47, 0.72), rgba(47, 47, 47, 0.72));
        }
    }
    &_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            row-gap: rem(24);
        }
        column-gap: rem(32);
        row-gap: rem(34);
        margin-bottom: rem(32);
    }

    &__container {
    }

    &__title {
        position: relative;
        z-index: 3;
        padding: rem(80) 0;
        font-weight: bold;
        font-size: rem(32);
        line-height: math.div(36, 32) * 100%;
        color: #ffffff;
        display: flex;
        align-items: center;
        width: 100vw;
        text-align: left;
        margin-bottom: rem(60);
        &::before {
            @extend %ic;
            @extend ._icon-arrow-down;
            font-size: rem(12);
            margin-right: 8px;
            transform: rotate(90deg);
        }
    }

    &__text-box {
    }

    &__text-box-title {
        font-weight: bold;
        font-size: rem(24);
        line-height: math.div(32, 24) * 100%;

        color: #23262f;
    }

    &__text-box-text {
        font-size: rem(16);
        line-height: math.div(32, 16) * 100%;
        margin-top: rem(16);
        margin-bottom: rem(48);
        color: #000000;
    }

    &__form-box {
    }

    &__form {
    }
}
.coop-form {
    &__personal {
    }

    &__personal-title {
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(18, 18);
        margin-bottom: rem(24);
        color: #23262f;
    }

    &__input-box {
    }

    &__input-title {
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(20, 14) * 100%;

        color: #979c9e;
        margin-bottom: rem(8);
    }

    &__input {
    }
    &__submit-box {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            justify-content: center;
        }
        margin-top: rem(48);
        gap: rem(12);
        color: #23262f;
        font-weight: 700;
        font-size: rem(14);
        line-height: math.div(20, 14);
    }

    &__cancel {
        border: 2px solid #e3e5e6;
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #e3e5e6;
            }
        }
    }

    &__submit {
        color: #ffffff;
        background-color: #cb0e16;
        transition: background-color 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #a80b13;
            }
        }
    }
}
.coop-btn {
    border-radius: 90px;
    @include adaptiveValue("min-width", 200, 155);
    padding: rem(14) 0;
    text-align: center;
}

.coop_grid {
    &__checkbox {
        display: block;
        font-weight: 400;
        font-size: rem(16);
        line-height: 1;
        color: #090a0a;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
}
.checkbox {
    &__input {
        display: none;

        &[type="checkbox"]:checked + label > span:first-child,
        &[type="radio"]:checked + label > span:first-child {
            border: none;
            background-color: #cb0e16;

            &::before {
                height: 1.5px;

                width: 5px;
                top: calc(50%);
                left: calc(50% - 5.5px);
                transform: rotate(45deg);
            }
            &::after {
                height: 1.5px;

                width: 10px;
                top: calc(50% - 1.5px);
                transform: rotate(-45deg);
                left: calc(50% - 3px);
            }
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: rem(8);
        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
        span:first-child {
            position: relative;
            display: block;
            width: rem(24);
            height: rem(24);
            transition: background-color 0.3s ease 0s;
            border-radius: rem(4);
            border: 1px solid #cdcfd0;
        }

        span:first-child::after {
            content: "";
            position: absolute;
            height: 0;
            width: 0;

            transition: width 0.3s ease 0.1s;
            background-color: #ffffff;
            border-radius: 1px;
        }
        span:first-child::before {
            content: "";
            position: absolute;
            height: 0;

            width: 0;
            transition: width 0.3s ease 0s;

            border-radius: 1px;
            background-color: #ffffff;
        }
    }

    &__text {
    }
}
