//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn
.header-button {
	flex: 0 0 rem(158);
	min-height: rem(40);
	display: flex;
	align-items: center;
	justify-content: center;
	@media (any-hover: hover) {
		&:hover {
			background-color: #23262f;
			color: #fff;
		}
	}
}
.calc-button {
	flex: 0 0 rem(203);
	min-height: rem(40);
	display: flex;
	align-items: center;
	justify-content: center;
	@media (any-hover: hover) {
		&:hover {
			background-color: #23262f;
			color: #fff;
		}
	}
}
.calc-submit-button {
	flex: 0 0 rem(46);
	width: rem(336);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cb0e16;
	color: #fff !important;
}
.button {
	display: inline-flex;
	border: 1px solid #e3e5e6;
	border-radius: 90px;
	color: #202325;
	font-weight: bold;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;

	&._fw {
		width: 100%;
	}
}
