//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.calc-button {
	flex: 0 0 rem(203);
	min-height: rem(40);
	display: flex;
	align-items: center;
	justify-content: center;
	@media (any-hover: hover) {
		&:hover {
			background-color: #23262f;
			color: #fff;
		}
	}
	&.active-btn {
		background-color: #23262f;
		color: #fff;
	}
	@media (max-width: $mobile) {
		flex: 0 0 rem(120);
	}
}

.button {
	border-radius: 90px;
	@include adaptiveValue("min-width", 200, 155);
	min-height: rem(40);
	font-weight: 700;
	text-align: center;
	border: 2px solid #e3e5e6;
	color: #23262f;
	padding: rem(12) 0;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	&.radio {
		display: none;
		& + label {
			color: #23262f;
			display: flex;
			align-items: center;
			justify-content: center;
			@include adaptiveValue("min-width", 200, 120);
			border: 2px solid #e3e5e6;
			transition: background-color 0.3s ease 0s;
			border-radius: 90px;
			@media (any-hover: hover) {
				&:hover {
					background-color: #e3e5e6;
					cursor: pointer;
				}
			}
			min-height: rem(40);
		}
		&:checked + label {
			border: none;
			background-color: #23262f;
			color: #fff;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #e3e5e6;
			color: #23262f;
		}
	}

	&.cancel {
		display: inline-block;
	}
	&.submit {
		color: #ffffff;
		background-color: #cb0e16;
	}
}
.buttons-box {
	display: inline-flex;
	gap: rem(12);
}
.header-button {
	flex: 0 0 rem(158);
	max-width: rem(158);
	min-height: rem(40);
	align-items: center;
	justify-content: center;
	@media (any-hover: hover) {
		&:hover {
			background-color: #23262f;
			color: #fff;
		}
	}
	@media (max-width: $mobile) {
		max-width: none;
		&:not(:last-child) {
			background-color: #23262f;
			color: #fcfcfd;
		}
	}
}
