//<INPUT>
// Снипет (HTML): inp
@import "~js-datepicker/src/datepicker";

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	.iti {
		font-size: rem(16);
	}
	.iti__country-name,
	.iti__selected-dial-code {
		color: #090a0a;
	}
	.iti--separate-dial-code .iti__selected-flag {
		background: none;
	}
	display: flex;
	position: relative;
	color: #979c9e;
	font-size: rem(24);
	padding: rem(12);

	&::before {
		margin-right: rem(12);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	border: 1px solid #e3e5e6;
	border-radius: 8px;
	& input {
		flex: 1 1 auto;
		font-weight: 400;

		&::placeholder {
			@include adaptiveValue("font-size", 18, 16);
			font-weight: 400;
			color: #72777a;
		}
		font-weight: bold;
		@include adaptiveValue("font-size", 18, 16);
		color: #090a0a;
		&:focus-visible {
			outline-width: 0;
		}
	}
	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
