// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	flex: 1 1 auto;
	// .select__body
	&__body {
		position: relative;
		font-weight: 400;
		font-size: rem(16);
		line-height: 1;
		color: #090a0a;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		background-color: #fff;
		cursor: pointer;
		width: 100%;
		border-radius: 4px;
	}
	// .select__value
	&__value {
		display: flex;
		align-items: center;
		gap: rem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			transition: transform 0.3s ease 0s;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::after {
				@extend %ic;
				content: "\e901";
				font-size: rem(24);
				color: #090a0a;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #979c9e;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border-top: 0;
		padding: 10px 0px 5px 0px;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		display: block;
		text-align: left;
		cursor: pointer;
		padding: 5px 0;
		color: inherit;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
