.about-us {
    &__container {
        display: flex;
        align-items: center;
    }

    &__text-box {
    }

    &__title {
        font-weight: bold;
        @include adaptiveValue("font-size", 32, 25);
        line-height: math.div(38, 32) * 100%;
        color: #23262f;
        margin-bottom: rem(32);
    }

    &__text {
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(24, 16) * 100%;

        color: #72777a;
        & > p {
            &:not(:last-child) {
                margin-bottom: rem(32);
            }
        }
    }

    &__img-box {
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__img {
    }
}
