.about-us {
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
        }
    }

    &__text-box {
    }

    &__title {
        font-weight: bold;
        @include adaptiveValue("font-size", 32, 25);
        line-height: math.div(38, 32) * 100%;
        color: #23262f;
        margin-bottom: rem(32);
    }

    &__text {
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(24, 16) * 100%;

        color: #72777a;
        & > p {
            &:not(:last-child) {
                margin-bottom: rem(32);
            }
        }
    }

    &__img-box-ibg {
        padding-bottom: percent(640, 1120);
        @media (max-width: $mobile) {
            padding-bottom: rem(343);
            @include adaptiveValue("margin-top", 20, 41);
        }
        flex: 0 0 percent(700, 1120);
        img {
            max-width: 100%;
            @media (max-width: $mobile) {
                object-fit: contain;
                object-position: center;
            }
            object-position: left;
        }
    }

    &__img {
    }
}
