.first-screen {
    &__slider {
        border-radius: 24px;

        overflow: hidden;
        min-height: 0;
    }

    &__wrapper {
    }

    &__slide {
        img {
        }
    }

    &__box {
        max-width: rem(1280);

        margin: 0 auto;
        @include adaptiveValue("border-radius", 24, 0, 1440, 1200, 1);
        max-height: rem(720);

        @media (max-width: $mobile) {
            min-height: rem(848);
        }
        display: flex;
        position: relative;

        justify-content: space-between;
    }

    &__offer {
        position: absolute;
        z-index: 2;
        width: 100%;
        margin-left: rem(80);
        margin-top: percent(360, 1280);
        @media (max-width: $tablet) {
            & {
                margin: rem(0);
                text-align: left;
                padding: 0 rem(16);
            }
        }
    }

    &__calc {
        flex: 0 0 auto;
        width: rem(510);

        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;

        border-radius: rem(24);
        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    &__calc-box {
        position: absolute;
        right: rem(30);
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @media (max-width: $tablet) {
            width: 100%;
            right: 0;
            padding: 0 rem(16);
            top: rem(62);
        }
    }
    .swiper-first-screen {
    }
    .swiper-wrapper {
    }
    .swiper-slide {
        &__img-ibg {
            padding-bottom: rem(720);
            @media (max-width: $mobile) {
                padding-bottom: rem(848);
            }
            width: rem(1280);
            img {
                max-width: 100%;
            }
        }
    }
    .swiper-pagination-bullet {
        background-color: #fcfcfd;
        height: rem(2);
        width: rem(56);
        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .swiper-pagination-bullet-active {
        background-color: #cb0e16;
    }
    .swiper-pagination {
        display: flex;
        gap: rem(16);
        position: absolute;
        width: 100%;
        z-index: 2;

        bottom: rem(68);
        left: rem(68);
        @media (max-width: $tablet) {
            justify-content: center;
            left: 0;
            bottom: rem(34);
        }
    }
}

.offer {
    &__title {
        font-weight: bold;
        @include adaptiveValue("font-size", 36, 31);
        line-height: math.div(60, 48);
        @media (max-width: $mobile) {
            margin-top: rem(30);
        }
    }

    &__text {
        @include adaptiveValue("font-size", 24, 16);
        @media (max-width: $mobile) {
            margin-top: rem(16);
        }
        line-height: math.div(32, 24);
    }
}

.first-screen-calc {
    &__type {
        display: flex;
        justify-content: space-around;
        margin: 0px 0px rem(55) 0px;
    }

    &__input-box {
    }
    &__input {
        display: flex;
        position: relative;
        color: #979c9e;
        font-size: rem(24);
        padding-bottom: 12px;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            border-bottom: 1px solid #f2f4f5;
        }
        margin-bottom: rem(16);
        &::before {
            margin-right: rem(12);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & > input {
            &::placeholder {
                font-weight: bold;
                @include adaptiveValue("font-size", 18, 15);
                color: #23262f;
            }
            font-weight: bold;
            @include adaptiveValue("font-size", 18, 15);
            color: #23262f;
            &:focus-visible {
                outline-width: 0;
            }
        }
        &:last-child {
            @include adaptiveValue("margin-bottom", 32, 16);
        }
    }
    &__favorite-distance-box {
        color: #979c9e;
        display: flex;
        justify-content: space-between;
        width: rem(250);
        font-weight: 500;
        font-size: rem(12);
        line-height: rem(14);
        text-decoration-line: underline;
        margin: 0px 0px rem(28) 0px;
    }

    &__favorite-link {
        display: block;
        @media (any-hover: hover) {
            &:hover {
                color: lightcoral;
            }
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px rem(32) 0px;
    }

    &__info-box {
    }
    &__doc {
    }

    &__package {
    }

    &__params {
        display: none;
        &.active-tab {
            display: block;
        }
    }

    &__fromwhere {
    }

    &__where {
    }

    &__weight {
    }

    &__btn {
    }

    &__input-package {
        @extend .first-screen-calc__input;
        @include adaptiveValue("margin-top", 55, 30);
        display: grid;
        grid-template-columns: rem(24) repeat(3, 33.333%);
        align-items: center;
        justify-content: flex-start;

        &::before {
            margin: 0;
        }
        & > input {
            text-align: center;
            &:not(:last-child) {
                border-right: 1px solid #979c9e;
            }
        }
    }

    &__height {
    }

    &__lebgth {
    }

    &__width {
    }
}
.doc-summ {
    &__title {
        font-weight: 500;
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(24, 16) * 100%;
        color: #979c9e;

        margin-bottom: rem(8);
    }

    &__value {
        font-weight: bold;
        font-size: 24px;
        @include adaptiveValue("font-size", 24, 15);
        line-height: math.div(32, 24) * 100%;

        color: #23262f;
        display: inline-block;
    }

    &__text {
        color: #23262f;
        font-weight: bold;
        @include adaptiveValue("font-size", 24, 15);
        line-height: math.div(32, 24) * 100%;
        display: inline-block;
    }
}
.doc-date {
    &__title {
        font-weight: 500;
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(24, 16) * 100%;
        color: #979c9e;

        margin-bottom: rem(8);
    }

    &__value {
        font-weight: bold;
        @include adaptiveValue("font-size", 24, 15);
        line-height: math.div(32, 24) * 100%;
        color: #23262f;
    }
}
