//====================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap&subset=cyrillic-ext");
.footer {
    background: #23262f;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        @include adaptiveValue("margin-top", 75, 30);
        @include adaptiveValue("margin-bottom", 75, 30);
        @media (max-width: $mobile) {
            align-items: start;
        }
        color: #ffffff;
    }

    &__logo-box {
    }

    &__logo {
        margin: 0px 0px rem(25) 0px;
    }

    &__copyright {
        font-weight: 300;
        font-size: 12px;
        @media (max-width: $mobile) {
            margin-bottom: rem(30);
        }
    }

    &__info-box {
    }

    &__social-media {
        display: flex;
        justify-content: flex-end;
        margin: 0px 0px rem(30) 0px;
        gap: rem(12);
        @media (max-width: $mobile) {
            justify-content: flex-start;
        }
    }

    &__links {
        display: flex;
        @media (max-width: $mobile) {
            flex-direction: column;
            font-size: rem(15);
            gap: rem(12);
        }
    }
}

.footer-social-media {
    &__img {
        font-size: rem(30);

        &::before {
            transition: color 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
                &::before {
                    color: lightcoral;
                }
            }
        }
    }
}
.footer-link {
    &__box {
        display: flex;
        &:not(:last-child) {
            &::after {
                @media (max-width: $mobile) {
                    display: none;
                }
                content: " |";
                margin: 0 10px;
            }
        }
    }
    &__text {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
                color: lightcoral;
            }
        }
    }
}
//====================================================================================================
