//====================================================================================================
.header {
	@media (max-width: $mobile) {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		background-color: #fff;
		z-index: 140;
		transition: box-shadow 0.3s ease 0s;
	}
	&._header-scroll {
		@media (max-width: $mobile) {
			box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
		}
	}
	&__menu {
		flex: 0 0 rem(16);
		padding: rem(1) 0;
	}
	&__menu-box {
	}
	&__container {
		display: flex;
		align-items: center;
		padding: rem(24) rem(10);
		max-width: rem(1280);
		@media (max-width: $mobile) {
			padding: rem(20) rem(16);
			&:first-child {
				display: none;
			}
		}
	}
	&__number {
		color: #000;
		font-weight: 500;
		display: flex;
		align-items: center;
		font-size: rem(14);
		line-height: math.div(16, 12) * 100%;

		&::before {
			font-size: rem(24);
			margin-right: rem(8);
			color: #c3c5c5;
		}
		._icon-tel {
			position: relative;
			width: rem(24);
			height: rem(24);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: #c3c5c5;
			margin-right: 8px;
			&::before {
				font-size: rem(14);
				color: #fff;
			}
		}
		@media (any-hover: hover) {
			& > span:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: $mobile) {
			font-size: rem(12);
			line-height: math.div(20, 16) * 100%;
		}
	}
	&__links {
		color: #000;
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 auto;
		gap: rem(20);
		font-weight: 500;
		@include adaptiveValue("font-size", 14, 16.5);
		line-height: math.div(16, 12) * 100%;
		@media (max-width: $mobile) {
			color: #72777a;
			flex-direction: column;
			gap: rem(8);
		}
	}

	&__logo-ibg {
		flex: 0 0 rem(150);
		@include adaptiveValue("padding-bottom", 50, 30);
		img {
			max-width: 100%;
			object-fit: contain;
			object-position: left;
		}
		@media (max-width: $mobile) {
			flex: 1 1 auto;
			._action-search & {
				flex: none;
				img {
					width: 0;
				}
			}
		}

		align-items: center;
	}
	&__right-side {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 24, 10, 1440, 860, 1);
		flex: 1 1 auto;
		@media (max-width: $mobile) {
			justify-content: center;
			flex-direction: column;
			a {
				flex: 1 1 auto;
				width: 100%;
			}
		}
	}
	&__search {
		@media (max-width: $mobile) {
			._action-search & {
				flex: 1 1 auto;
			}
		}
		@include adaptiveValue("padding-left", 48, 12);
		@include adaptiveValue("padding-right", 48, 29.5);
	}

	&__questions-btn {
		line-height: rem(16);
	}

	&__account {
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}

		@media (min-width: $mobile) {
			background-color: #f2f4f5;
			border-radius: rem(40);
			flex: 0 0 rem(40);
			min-height: rem(40);
		}
		display: flex;
		align-items: center;
		justify-content: center;

		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: rgb(31, 167, 72);
				}
			}
		}
		&::before {
			transition: color 0.3s ease 0s;
			color: #23262f;

			@extend %ic;
			@extend ._icon-account;
			font-size: rem(24);
		}
	}
}

.header-search {
	@media (min-width: $tablet) {
		flex: 1 1 auto;
	}

	&__form {
		max-width: rem(274);
		position: relative;
		transition: max-width 0.8s ease 0s;
		@media (max-width: rem(860)) {
			max-width: rem(32);
			&._action-mobile {
				max-width: 100%;
			}
		}
	}

	&__input {
		width: 100%;
		border: 1px solid #e3e5e6;
		border-radius: 8px;
		padding: 12px 0;
		padding-left: 16px;
		line-height: 114%;
		color: #72777a;
		transition: visibility 0.5s ease 0s;
		@media (max-width: rem(860)) {
			opacity: 0;
			transition: opacity 0.5s ease 0s;
			.header-search__form._action-mobile & {
				opacity: 1;
			}
		}
	}

	&__btn {
		width: 32px;
		height: 32px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		right: 0;
		top: 50%;
		margin-top: -16px;
		margin-right: 4px;
		@media (min-width: $mobile) {
			background: #23262f;
			color: #fff;
			font-size: rem(16);
		}
		border-radius: 8px;
		color: #000;
		font-size: rem(24);
		&::before {
			@extend %ic;
			@extend ._icon-search;
		}
	}
}
.header-account {
	&__img {
	}
	&__box {
		min-width: rem(40);
		color: #23262f;
		font-weight: bold;
		& > .header-account-name {
			display: none;
		}
		@media (max-width: $mobile) {
			display: inline-flex;
			align-items: center;
			gap: rem(12);
			font-size: rem(16);
			& > .header-account-name {
				display: block;
			}
		}
	}
}
.links-header {
	&__link {
		@media (max-width: $mobile) {
			padding: rem(16) rem(12);
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.menu {
	@media (min-width: $tablet) {
		display: contents;
	}
	&__open-header {
		.header__right-side {
			display: none;
		}
	}

	&__icon {
	}

	&__body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: auto;
		transform: translateX(-200%);
		transition: transform 0.5s ease 0s;
		padding: rem(16);
		background-color: #fff;
		.menu-open & {
			transform: translateX(0);
		}
	}

	&__block-1 {
	}

	&__block-2 {
		.header__links {
			gap: 20px;
		}
	}
}

.menu__block-1 {
	margin-bottom: rem(16);

	.header__links {
		padding-bottom: rem(16);
		border-bottom: 1px solid #e6e8ec;
	}
}
.menu__block-0,
.menu__block-2 {
	padding: rem(12);
	margin-bottom: rem(15);
}
.menu__block-0 {
	.header__right-side {
		justify-content: flex-start;
	}
}
//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		margin-left: auto;

		position: relative;
		width: rem(26);
		height: rem(13);
		cursor: pointer;
		z-index: 101;
		&::before,
		&::after {
			content: "";
			transition: all 0.5s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #23262f;
			border-radius: rem(1);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		.menu-open & {
			margin-left: 0;
			span {
				width: 0;
			}
			&::before,
			&::after {
				left: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
