.our-benefits {
    position: relative;

    &__container {
        position: relative;
        overflow-x: visible;
        &::before {
            content: "";
            width: 30%;
            height: 100%;
            position: absolute;
            left: -30%;
            top: 0;
            background-color: #fff;
            z-index: 6;
        }
    }

    &__title {
        font-weight: bold;
        @include adaptiveValue("font-size", 32, 23.5);
        line-height: math.div(38, 32) * 100%;
        color: #23262f;
        @include adaptiveValue("margin-bottom", 80, 40);
        margin-right: 92px;
    }

    &__header {
        position: relative;
    }

    &__slider {
    }

    &__wrapper {
    }

    &__slide {
        max-width: rem(256);
        transition: opacity 0.8s ease 0s;
        opacity: 1;

        &._out {
            opacity: 0.6;
        }
    }
    .swiper {
        overflow: visible;
    }
}

.swiper-wrapper {
}
.swiper-slide {
    &__img {
        margin-bottom: rem(21);
    }

    &__title {
        font-weight: bold;
        font-size: rem(16);
        line-height: 100%;
        color: #23262f;
        margin-bottom: rem(16);
    }

    &__text {
        font-size: 14px;
        line-height: math.div(16, 14) * 100%;

        color: #72777a;
    }
}
.swiper-button-prev {
    margin-right: calc(rem(40) + rem(8));
    &::before {
        content: "<-";
        color: #777e91;
        width: rem(24);
        height: rem(24);
    }
}
.swiper-button-next {
    &::before {
        content: "->";
        color: #777e91;
        width: rem(24);
        height: rem(24);
    }
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    right: 0;
    top: calc(50% - rem(20));
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    transition: border 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            border: 2px solid #e6e8ec;
        }
    }
}
