.questions {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: bold;
        @include adaptiveValue("font-size", 32, 25);
        line-height: math.div(38, 32) * 100%;

        @include adaptiveValue("margin-bottom", 48, 30);
        color: #23262f;
    }

    &__type {
    }

    &__type-btn {
        padding: 8px 16px;
        border-radius: rem(100);
        color: #72777a;

        &.active-btn {
            background: #353945;
            color: #fff;
        }
    }

    &__box {
        width: 100%;
        margin-top: rem(64);
    }

    &__question {
        transform: translateX(-200px);
        opacity: 0;
        transition: transform 0.4s ease 0s, opacity 0.3s ease 0s;
        height: 0;
        &.active-tab {
            transform: translateX(0);
            height: auto;
            opacity: 1;
        }
    }
}
.question {
    &__box {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: rem(544);
        &:not(:last-child) {
            margin-bottom: rem(57);
        }
        &:after {
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: -24px;

            background: #f2f4f5;
        }
    }
}
.question-box {
    &__number {
        position: absolute;
        left: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #72777a;
        display: inline-block;
    }

    &__title {
        color: #23262f;
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(24, 16) * 100%;
        margin-left: rem(44);
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
        .questions__question._spoller-init & {
            &::after {
                @extend %ic;
                @extend ._icon-arrow;
                font-size: rem(10);
                color: #72777a;
                transition: transform 0.3s ease 0s;
            }
        }
        &._spoller-active {
            &::after {
                transform: rotate(180deg);
            }
        }
        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__text {
        font-size: rem(14);
        line-height: math.div(20, 14) * 100%;

        margin-top: rem(41);
        color: #72777a;
    }
}
