.reviews {
    &__container {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-weight: bold;
        @include adaptiveValue("font-size", 32, 25);
        line-height: math.div(38, 32) * 100%;
        @include adaptiveValue("margin-bottom", 80, 30);

        color: #23262f;
        text-align: center;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: center;
            gap: rem(12);
        }
    }

    &__card {
        @include adaptiveValue("max-width", 352, 310);

        background-color: #ffffff;
        padding: rem(40);
        border: 1px solid #e3e5e6;
        border-radius: rem(24);
    }
}
.reviews-card {
    &__top-box {
        margin-bottom: rem(32);
        display: flex;
        align-items: center;
        gap: rem(16);
    }

    &__img {
        width: rem(64);
        height: rem(64);
    }

    &__top-text-box {
    }

    &__name {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: rem(8);
        line-height: 20px;
        color: #000000;
    }

    &__work {
        font-size: 14px;
        line-height: 18px;
        color: #72777a;
    }

    &__review {
    }
}
.review {
    &__title {
        font-weight: 600;
        font-size: rem(16);
        line-height: math.div(20, 16) * 100%;
        color: #000000;
        margin-bottom: rem(8);
    }

    &__text {
        font-size: rem(14);
        line-height: math.div(18, 14) * 100%;

        color: #72777a;
    }
}
